body {
    margin: 0;
    height: 100vh;
    background-image: url('/img/fonstola.ru_52398.jpg'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggleSound {
    position: absolute; /* Позволяет позиционировать кнопку относительно родителя */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    z-index: 100; /* Убедитесь, что кнопка находится поверх других элементов */
    font-size: 20px; /* Размер шрифта */
    background: none; /* Без фона */
    border: none; /* Без границы */
    cursor: pointer; /* Курсор указателя при наведении */
}

.login-container {
    position: relative; /* Обеспечивает контекст для абсолютного позиционирования кнопки */
    background-color: rgba(255, 255, 255, 0.2); /* Более прозрачный фон */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(10px); /* Размытие фона */
    width: 300px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.logo {
    margin-bottom: 15px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    float: right; /* Выравнивание кнопки вправо */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Новый стиль для кнопки регистрации */
.register-button {
    display: inline-block;
    color: #007bff; /* Синий цвет текста */
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none; /* Убираем подчеркивание */
}

.register-button:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}